<div class="alert alert-danger fw-bold <%= visible === true ? "d-block": "d-none" %>">
    <i class="bi bi-exclamation-triangle-fill text-warning fs-4"></i>
    <span class="message">&nbsp;<%= message %></span>
</div>