<div class="container w-75 bg-primary p-3 mt-3 mb-3 text-center border rounded">
    <h6>
        <i class="bi bi-trophy-fill text-warning"></i> <%= process.env.APP %> - <%= new Date().getFullYear() %>
    </h6>    
</div>

</body>
</html>